<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/Denmark.css">

</head>
<body>
    {% block navbar %}
    {% include 'includes/_navbar.html' %}
    {% endblock %}

    <main>
        <section class="bdy-sec-1">
            <div class="welcome-gp">
                <h1>All you need is love and a passport</h1>
            </div>
        </section>
    </main>


    <div class="wrapper-1">
        <img src="/static/zootopia-webshow-short_original.jpg" class="gallery__img" alt="Image 1">
        <div class="text-box">
            <h2>Givskud Zoo Zootopia</h2>
            <p>Enjoy a day in the animal kingdom – GIVSKUD ZOO is only a 25-minute drive from Billund. 
                Take the family on safari in your own car or on the GIVSKUD ZOO Safari Bus. You drive 
                across the African savannah, where zebras and giraffes have right of way. Continue into 
                the Lions' Den and feel the thrill as the big cats lumber past your car. Throughout most 
                of the season, the gorillas, lemurs and other species are fed daily. If you need to take 
                a break, GIVSKUD ZOO has lots to offer the whole family – it's a great place to play, relax 
                and have fun! </p>
        </div>
    </div>
    
    <div class="wrapper-2">
        <img src="/static/the-ancient-viking-stronghold.jpg" class="gallery__img" alt="Image 2">
        <div class="text-box1">
            <h2>The Ancient Viking Stronghold of Aros</h2>
            <p>Take in the history and charming neighborhoods of Aarhus, the crown jewel of Jutland, on this 
                affordable walking tour. Where you can learn about the ancient Viking settlement, once known 
                as Aros, and discover how modern traffic signals demarcate where its boundaries once stood.</p>
        </div>
    </div>

    <div class="wrapper-3">
        <img src="/static/odense.jpg" class="gallery__img" alt="Image 3">
        <div class="text-box">
            <h2>Tour with Odense River Cruise</h2>
            <p>Enjoy a beautiful trip in our tour boat on Odense Å. We sail from Odense City to the 
                forest in Fruens Bøge. The whole trip is surrounded by the most beautiful beech trees 
                and you do not find that you are in the center of Odense. You have the opportunity to 
                disembark in the forest of Madame Bøge and go for a walk, enjoy a picnic basket or have 
                lunch in one of the surrounding restaurants, and take a later departure back. </p>
        </div>
    </div>


    <div class="wrapper-4">
        <img src="/static/mural.jpg" class="gallery__img" alt="Image 4">
        <div class="text-box1">
            <h2>Street Art and Rooftops of Aarhus</h2>
            <p>Immerse yourself in the vibrant street art scene in Aaarhus on this walking tour. 
                You'll pound the pavement with a guide to visit some of the best graffiti and street 
                art, learning about the artists and the Danish art scene through guided commentary. 
                Climb up to three local rooftops for panoramic views of the city and its landmarks with 
                your small group of just 10 people or fewer.</p>
        </div>
    </div>

    <div class="wrapper-5">
        <img src="/static/kitesurfing.jpg" class="gallery__img" alt="Image 5">
        <div class="text-box">
            <h2>SUP - Stand Up Paddle - Kitesurfing - Wingfoil & Kitefoil courses</h2>
            <p>Embrace the challenge of mastering your choice of water sport with a lesson in Varde,
                 home to one of Denmark’s most scenic beaches. Choose to learn the techniques of either
                  stand-up paddle boarding or kitesurfing, and receive personalized attention both in 
                  and out of the water in a small group limited to only 10 people</p>
        </div>
    </div>

    <div class="wrapper-6">
        <img src="/static/instaworthy_pic.jpg" class="gallery__img" alt="Image 6">
        <div class="text-box1">
            <h2>Explore the Instaworthy Spots of Aarhus with a Local</h2>
            <p>This experience is provided by an independent Local. If you want to spice up your 
                Instagram feed and impress your friends with stunning shots from your travels, then 
                you are at the right place! Let me show you the most beautiful and impressive spots 
                in Aarhus and guide you with some useful tips to take good pictures from your phone 
                or camera! Of course, while strolling through the city and taking photos of the most 
                unique places, you will also get to know more about Aarhus and learn about its secrets 
                from a local’s perspective. Join me on this adventure to give your insta feed an upgrade</p>
        </div>
    </div>

    {% block footer %}
    {% include 'includes/_footer.html' %}
    {% endblock %}
    </body>
</html>