<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../frontend/styles/Thailand.css">

</head>
<body>
    <header>
        <div class="nav-bar">
            <div class="logo">
                <h1>EcoVoyage</h1>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#aboutus">About Us</a></li>
                    <li><a href="#destination">Destination</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                    <li><a href="#login">Login</a></li>
                </ul>
            </div>
        </div>
    </header>

    <main>
        <section class="bdy-sec-1">
            <div class="welcome-gp">
                <h1>Wherever you go becomes a part of you somehow</h1>
            </div>
        </section>
    </main>


    <div class="wrapper-1">
        <img src="resources/images/similan-islands.jpg" class="gallery__img" alt="Image 1">
        <div class="text-box">
            <h2>Similan Islands</h2>
            <p>The Similan Islands are a group of nine islands located in the Andaman Sea, 
                off the coast of Phuket, Thailand. The islands are known for their white-sand 
                beaches, crystal-clear waters, and abundant coral reefs. Similan Islands National 
                Park is a popular destination for snorkeling, diving, and swimming. In addition to 
                its natural beauty, the Similan Islands also have a rich history. The islands were 
                once used by pirates as a base of operations.</p>
        </div>
    </div>
    
    <div class="wrapper-2">
        <img src="resources/images/chatuchak_park_2.jpg" class="gallery__img" alt="Image 2">
        <div class="text-box1">
            <h2>Charuchak Park</h2>
            <p>Chatuchak Park offers something for everyone. Whether it be 
                from walking or jogging along the green tracks line to simply appreciating nature. 
                Make sure not to miss the nearby famous Chatuchak Market, 
                Train Museum, and Youth Traffic Garden. You can get there by the BTS Skytrain or MRT subway train – 
                both stations are right in front of Chatuchak Park.</p>
        </div>
    </div>

    <div class="wrapper-3">
        <img src="resources/images/bangkok-butterfly-garden.jpg" class="gallery__img" alt="Image 3">
        <div class="text-box">
            <h2>Bangkok Butterfly Garden and Insectarium</h2>
            <p>The Bangkok Butterfly Garden and Insectarium is a 
                beautiful indoor garden that is home to hundreds of 
                butterflies and other insects. The garden is a great 
                place to learn about the importance of insects and their 
                role in the environment. The Bangkok Butterfly Garden and 
                Insectarium also has a number of educational programs and exhibits.</p>
        </div>
    </div>


    <div class="wrapper-4">
        <img src="resources/images/waterfall.jpg" class="gallery__img" alt="Image 4">
        <div class="text-box1">
            <h2>Erawan Waterfall</h2>
            <p>Located in West Thailand in the Tenasserim Hills range of Kanchanaburi Province
                , Erawan National Park is home to one of the most popular falls in the country. 
                Founded in 1975 as Thailand’s 12th National Park, it covers an area of 550 km².
                The major attraction of the park is the 7-tiered Erawan Falls with emerald green
                 ponds. There are also several impressive and long caves within the park, some of
                  them deeper inside the park, few of them along the roads around the park.</p>
        </div>
    </div>

    <div class="wrapper-5">
        <img src="resources/images/firefly.jpg" class="gallery__img" alt="Image 5">
        <div class="text-box">
            <h2>Bamboo Bicycle Tour in twilight</h2>
            <p>Combine a bike tour with dinner at a riverside restaurant and a sightseeing cruise 
                for an enchanting evening in Bangkok. Start with a relaxed bike ride along the quiet 
                backstreets of Thailand’s capital city, then have dinner as night falls, with views 
                of the Chao Phraya River from your table. Last, set out by boat to look for fireflies 
                and other sights during the 1-hour river cruise.</p>
        </div>
    </div>

    <div class="wrapper-6">
        <img src="resources/images/thaitemple.jpg" class="gallery__img" alt="Image 6">
        <div class="text-box1">
            <h2>Temple of the Golden Buddha</h2>
            <p>The Temple of the Golden Buddha (Wat Traimit) is one of the most popular tourist 
                attractions in Bangkok, Thailand. It is home to the world's largest solid gold 
                Buddha statue, which weighs over 5.5 tons. The statue is believed to have been 
                created in the 13th century, and it was discovered in 1955 hidden under a layer 
                of plaster.
                The Temple of the Golden Buddha is a beautiful and serene place to visit. 
                The statue of the Golden Buddha is truly awe-inspiring, and it is a powerful 
                reminder of the importance of Buddhism in Thai culture. Visitors to the temple 
                can also learn about the history of the statue and the temple itself. </p>
        </div>
    </div>

    <footer>
            <div class="footer-left">
                <div class="footer-section fs-1">
                    <div class="footer-logo">
                        <img src="resources/images/Blue and White Elegant Travel Logo.png" alt="Travel Logo">
                    </div>
                    <div class="footer-location">
                        <ul>
                            <li>300 Washington St., Ste. 713, Newton, MA 02458</li>
                            <li>1-800-776-0188 | Mon.–Fri., 9:00 a.m.–5:00 p.m. EST.</li>
                            <li>info@earthwatch.org</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-right">
                <div class="footer-section fs-2">
                    <ul>
                        <li>ABOUT</li>
                        <hr>
                        <li><a href="#">Mission & Values</a></li>
                        <li><a href="#">Our History</a></li>
                        <li><a href="#">Leadership</a></li>
                        <li><a href="#">Annual Report</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="footer-section fs-3">
                    <ul>
                        <li>EXPLORE</li>
                        <hr>
                        <li><a href="#">Expeditions</a></li>
                        <li><a href="#">Research</a></li>
                        <li><a href="#">Education</a></li>
                        <li><a href="#">Partnerships</a></li>
                        <li><a href="#">Stories</a></li>
                        <li><a href="#">Support Us</a></li>
                    </ul>
                </div>
                <div class="footer-section fs-4">
                    <ul>
                        <li>CONNECT</li>
                        <hr>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">YouTube</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">LinkedIn</a></li>
                        <li><a href="#">Newsletter</a></li>
                    </ul>
                </div>
                <div class="footer-section fs-5">
                    <ul>
                        <li>POLICIES</li>
                        <hr>
                        <li><a href="#">Safety Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Insurance Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-copyright">
                <h5>© 2023 EcoVoyage Company. All rights reserved.</h5>
            </div>
        </footer>
    </body>
</html>