@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100;0,300;0,400;0,600;1,100;1,300;1,400;1,600&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'MuseoModerno', sans-serif;
}

.nav-bar {
    background-color: #1e704b;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.nav-bar .logo {
    padding: 1px;
}

.nav-bar .logo h1 {
    color: white;
    padding-left: 10px;
}

.nav-bar .nav-links {
    margin-left: auto;
}

.nav-bar .nav-links ul {
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
}

.nav-bar .nav-links li {
    list-style-type: none;
}

.nav-bar .nav-links a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 25px;
}

/* body */

main .bdy-sec-1 {
    height: 700px;
    background-image: url('travel-landscape.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .bdy-sec-1 .welcome-gp {
    width: 60%;
    text-align: center;
    color: white;
}

main .bdy-sec-1 .welcome-gp h1 {
    font-size: 2em;
}

main .bdy-sec-1 .welcome-gp .btn button {
    background-color: #1e704b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 10px;
}

main .bdy-sec-1 .welcome-gp .btn button:hover {
    background-color: #b2a38c; 
    color: #040503;
}

/* Reviews & team section*/
section {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  section h2 {
    font-size: 2rem;
  }
  
  section > p {
    text-align: center;
  }
  
  section .cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-top: 50px;
    padding: 0 10px;
    justify-content: space-between;
  }
  
  section.about {
    margin: 0 auto;
    max-width: 1200px;
  }
  
  .about .company-info {
    margin-top: 30px;
  }
  
  .about h3 {
    margin: 30px 0 10px;
  }
  
  .about .team {
    text-align: left;
    width: 100%;
  }
  
  .about .team ul {
    padding-left: 20px;
  }
  
  section .cards .card {
    background: #fff;
    padding: 40px 15px;
    list-style: none;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
    margin-bottom: 40px;
    width: calc(100% / 3 - 30px);
    text-align: center;
  }
  
  .trips .cards .card {
    padding: 0 0 20px;
  }
  
  .reviews .card img {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    border-radius: 100%;
    object-fit: cover;
  }
  
  .trips .card img {
    width: 100%;
    padding-bottom: 10px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 7px;
  }
  
  .cards .card p {
    padding: 0 15px;
    margin-top: 5px;
  }
  
  .about .row {
    padding: 0 10px;
  }
  
  .contact .row {
    display: flex;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  
  .contact .row .col {
    padding: 0 10px;
    width: calc(100% / 2 - 50px);
  }
  
  .contact .col p {
    margin-bottom: 10px;
  }
  
  .contact .col p i {
    color: #7a7a7a;
    margin-right: 10px;
  }
  
  .contact form input {
    height: 45px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    outline: none;
    border: 1px solid #bfbfbf;
  }
  
  .contact form textarea {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    height: 150px;
    outline: none;
    resize: vertical;
    border: 1px solid #bfbfbf;
  }
  
  .contact form button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 17px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: #333;
    transition: 0.2s ease;
  }
  
  .contact form button:hover {
    background: #525252;
  }

/* footer section */

footer {
    flex-wrap: wrap;
    gap: 10px;
    background-color: #1e704b;
    color: #d0c7c4;
}

footer a{
    text-decoration: none;
    color: #d0c7c4;
}

footer a:hover {
    text-decoration: underline;
    transition: 1s;
}

footer .footer-left {
    flex-grow: 1;
    /* width: 50%; */
}

footer .footer-right {
    flex-grow: 3;
    /* width: 50%; */
}

footer .footer-left .fs-1 .footer-logo {
    text-align: left;
}

footer .footer-left .fs-1 .footer-logo img {
    width: 150px;
    height: 150px;
}

footer .footer-right {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

footer .footer-right .fs-2 ul,
footer .footer-right .fs-3 ul,
footer .footer-right .fs-4 ul,
footer .footer-right .fs-5 ul {
    list-style-type: none;
    padding: 0px;
}

footer .footer-right .fs-2 ul li:first-of-type,
footer .footer-right .fs-3 ul li:first-of-type,
footer .footer-right .fs-4 ul li:first-of-type,
footer .footer-right .fs-5 ul li:first-of-type {
    font-weight: bold;
}

footer .footer-copyright {
    width: 100%;
}

footer .footer-copyright h5 {
    margin: 0px;
    text-align: center;
}