<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Now</title>
    <style>
        form{
            text-align: center;
        }
        .options{
            text-align: left;
            position: relative;
            left:700px;
            max-width: fit-content;
        }
        #formfield{
            position:relative;
            display:flex;
            align-items:start;
            left:550px;
            max-width: fit-content;
        }
    </style>
</head>
<body onload="mindate()">
    {% block navbar %}
    {% include 'includes/_navbar.html' %}
    {% endblock %}

<h1 class="display-4">Book Now</h1>

<form method="POST" action="">
    <label>First name:</label>
    <input type="text" for="firstname" name="firstname" placeholder="First Name" required>
    <label>Last Name:</label>
    <input type="text" for="lastname" name="lastname" placeholder="Last Name" required><br><br>
    <label>Email:</label>
    <input type="email" for="email" name="email" placeholder="example@mail.com" required>
    <label>Phone Number:</label>
    <input type="tel" id="phone" name="phone" pattern="[0-9]{8}" placeholder="12345678" required>
    <br><br>
    <label>Airport:</label>
    <input type="text" for="airport" name="airport" placeholder="Airport for departure" required>
    <br><br>
    <h2>Destination:</h2>
    <div class="options">
        <label for="destination">Choose your destination:</label>
        <select id="destination" name="destination">
            <option disabled>Singapore</option>
            <option value="Garden by the bay">Garden by the bay</option>
            <option value="Botanic Gardens">Botanic Gardens</option>
            <option value="Singapore Zoo">Singapore Zoo</option>
            <option value="Universal Studios">Universal Studios</option>
            <option value="S.E.A Aquarium">S.E.A Aquarium</option>
            <hr class="dropdown-divider">
            <option disabled>Switzerland</option>
            <option value="Luke Lucerne Lake">Luke Lucerne Lake</option>
            <option value="Mount Rigi">Mount Rigi</option>
            <option value="Mount Pilatus Summit">Mount Pilatus Summit</option>
            <option value="Swiss National Park & Ofenpass Area Nature Trail">Swiss National Park & Ofenpass Area Nature Trail</option>
            <hr class="dropdown-divider">
            <option disabled>Thailand</option>
            <option value="Similan Islands">Similan Islands</option>
            <option value="Charuchak Park">Charuchak Park</option>
            <option value="Erawan Waterfall">Erawan Waterfall</option>
            <option value="Bamboo Bicycle Tour in twilight">Bamboo Bicycle Tour in twilight</option>
            <option value="Temple of the Golden Buddha">Temple of the Golden Buddha</option>
            <option value="Bangkok Butterfly Garden and Insectarium">Bangkok Butterfly Garden and Insectarium</option>
            <hr class="dropdown-divider">
            <option disabled>Denmark</option>
            <option value="Givskud Zoo Zootopia">Givskud Zoo Zootopia</option>
            <option value="Tour with Odense River Cruise">Tour with Odense River Cruise</option>
            <option value="Street Art and Rooftops of Aarhus">Street Art and Rooftops of Aarhus</option>
            <option value="The Ancient Viking Stronghold of Aros">The Ancient Viking Stronghold of Aros</option>
            <option value="Explore the Instaworthy Spots of Aarhus with a Local">Explore the Instaworthy Spots of Aarhus with a Local</option>
            <option value="Explore the Instaworthy Spots of Aarhus with a Local">Explore the Instaworthy Spots of Aarhus with a Local</option>
            <option value="SUP - Stand Up Paddle - Kitesurfing - Wingfoil & Kitefoil courses">SUP - Stand Up Paddle - Kitesurfing - Wingfoil & Kitefoil courses</option>
        </select>
    </div>
    <br><br>
    <label>Departure Date:</label>
    <input type="date" for="departure" name="departure" id="departure" required><br><br>
    <Label>Number of adults:</Label>
    <input type="number" min="1" max="20" name="adults" for="adults" value="1" required>
    <Label>Number of children:</Label>
    <input type="number" min="0" max="30" name="children" for="children" value="0" required><br><br>
    <div id="formfield">
        <label>Any Comments/Special Requests:</label>
        <textarea id="textarea1"></textarea>
    </div><br><br>
    <div class="card">
        <label>Card Number:</label>
        <input type="text" name="cardnumber" placeholder="XXXX XXXX XXXX" for="cardnumber" pattern="[0-9]{12}" required style="width:200px;"><br><br>
        <label>Card Holder:</label>
        <input type="text" name="cardholder" placeholder="JOHN DOE" for="cardholder" required> <br><br>
        <label>Card Expiry Date:</label>
        <input id="expirydate" type="text" name="cardexpiry" placeholder="00/00" pattern="(?:0[1-9]|1[0-2])/[0-9]{2}" for="cardexpiry" max="12" required onkeyup="checkvalue()"><br><br>
        <label>Card Security Code:</label>
        <input type="text" name="cardsec" placeholder="000" for="cardsec" pattern="[0-9]{3}" required> 
    </div>
    <br><br><input type="submit" value="Submit" class="btn btn-primary"/>
</form>

{% block footer %}
{% include 'includes/_footer.html' %}
{% endblock %}
</body>
    <script>
        function mindate(){
            let today = new Date(),
                day = today.getDate() + 7,
                month = today.getMonth()+1, 
                year = today.getFullYear();
                d = new Date(); d.setFullYear(today.getFullYear(), month, 0);
                console.log(d)
                if(day > d.getDate()){
                    month += 1
                    day = day - d.getDate()
                    console.log(month)
                    console.log(day)
                }
                if(day<10){
                    day='0'+day
                } 
                if(month<10){
                    month='0'+month
                }
            today = year+'-'+month+'-'+day;

            document.getElementById("departure").setAttribute("min",today)
            console.log(document.getElementById("departure"))
        }
        function checkvalue(){
            var check1 = document.getElementById("expirydate").value
            console.log(check1)
            if (check1[0] > 1){
                document.getElementById('expirydate').value = 0 + check1[0]
            }
            if (check1[0] == 1){
                if (check1[1]>2){
                    document.getElementById('expirydate').value = check1[0]
                    console.log(check1)
                }
            }
            if (check1[3] > 2){
                document.getElementById('expirydate').value = check1[0] + check1[1]+'/' + 0 + check1[3]
            }
            if (check1[3] == 2){
                if (check1[4] < 4){
                    document.getElementById('expirydate').value = check1[0] + check1[1]+'/' + 2
                }
            }
            if (check1.length > 5){
                document.getElementById("expirydate").value = check1[0]+check1[1]+check1[2]+check1[3]+check1[4]
            }
            if (check1.length==3){
                if (check1[2] != '/'){
                    document.getElementById('expirydate').value = check1[0]+check1[1]+ '/'
                }
            }
        }
    </script>


</html>