{% extends "base.html" %}
{% block title %}Library Loan System - Create User{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}  <!--#Imports render_field() from _formHelper.html that will be used to render all the fields.-->

<h1 class="display-4">Create User</h1>

<form method="POST" action="/createUser">
  <div class="form-group">
    {{ render_field(form.first_name, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.last_name, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.username, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.password, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.gender, class="form-control") }}
  </div>
  <div class="form-group" style="display:none;">
    {{ render_field(form.membership, class="form-check", style="list-style-type:none;display:none;") }}
  </div>
  <div id="prof">
    <div class="form-group">
      {{ render_field(form.remarks, class="form-control") }}
    </div>
  </div>
  <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
{% endblock %}
