<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - EcoVoyage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <style>

        body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.chat-container {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 9999;
}

.chat-box {
    height: 200px;
    padding: 10px;
    overflow-y: auto;
}

.chat-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-top: 1px solid #ccc;
    outline: none;
}

.send-btn, .close-btn {
    width: 60px;
    padding: 10px;
    border: none;
    border-top: 1px solid #ccc;
    background-color: #1e704b;
    color: #fff;
    cursor: pointer;
}

.send-btn:hover, .close-btn:hover {
    background-color: #21573f;
}

#open-chat-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    border-radius: 50%;
    background-color: #1e704b;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    z-index: 9999;
}

    </style>
</head>

<body>
{% block navbar %}
{% include 'includes/_navbar.html' %}
{% endblock %}
<main>
    <section class="bdy-sec-1">
        <div class="welcome-gp">
            <h1>Embark on a journey of a lifetime, where every destination becomes a story, and every moment is an
                adventure waiting to be told.</h1>
            <div class="btn">
                <button><a href="/countries" style="text-decoration:none;color:white;">Explore</a></button>
            </div>
        </div>
    </section>
</main>

<section class="reviews" id="reviews">
    <h2>Reviews</h2>
    <p>Here is what our new friends have to say.</p>
    <ul class="cards">
        <li class="card">
            <img src="{{ url_for('static', filename='review1.jpg') }}" alt="img">
            <h3>Tricia</h3>
            <p>"The most fun i've had in my whole life!"</p>
        </li>
        <li class="card">
            <img src="{{ url_for('static', filename='review2.jpg') }}" alt="img">
            <h3>Michael</h3>
            <p>"I went cause my friend told me to. Ended up being the best time of my life!"</p>
        </li>
        <li class="card">
            <img src="{{ url_for('static', filename='review3.jpg') }}" alt="img">
            <h3>Jessica</h3>
            <p>"Love the trips they plan, so full of activities and sightseeing"</p>
        </li>
        <li class="card">
            <img src="{{ url_for('static', filename='review4.jpg') }}" alt="img">
            <h3>Steven</h3>
            <p>"I met my new found travelling buddy through TravelBros!"</p>
        </li>
        <li class="card">
            <img src="{{ url_for('static', filename='review5.jpg') }}" alt="img">
            <h3>John</h3>
            <p>"100% Reccomend!"</p>
        </li>
        <li class="card">
            <img src="{{ url_for('static', filename='review6.jpg') }}" alt="img">
            <h3>Zane</h3>
            <p>"Can't wait for the next trip to Switzerland!"</p>
        </li>
    </ul>
</section>

<section class="about" id="about">
    <h2>About Us</h2>
    <p>Learn about how we got here.</p>
    <div class="row company-info">
        <h3>Our Story</h3>
        <p>We started with 4 individuals who had a passion for travelling the world and doing the most spontaneous
            activities. Now, we want to share this experiece with others and give them a chance to meet new people and
            see the beauty of earth.</p>
    </div>
    <div class="row mission-vision">
        <h3>Our Mission</h3>
        <p>At TravelBros, our mission is to equip travelling enthusiasts with opportunities to meet new people and
            travel the world having the best time of thier lives. We strive to provide reliable, informative and fun
            trips that contribute to memorable adventures and lasting memories.</p>
        <h3>Our Vision</h3>
        <p>Our vision is to become the first option for travelling enthusiasts, known for our great selection of
            countries, trips and exceptional customer service. We aspire to inspire and enable people to embrace the
            beauty of nature and create unforgettable travel experiences with new people.</p>
    </div>
    <div class="row team">
        <h3>Our Team</h3>
        <ul>
            <li>Phone Myat - Founder and CEO</li>
            <li>Ryan Ng - Events Planner</li>
            <li>Xavier Ong - Customer Representative</li>
            <li>Tay Xuan Hong - Operations Manager</li>
        </ul>
    </div>
</section>
<div></div>
&nbsp;




<!--  chatbot UI  -->
<!-- <button id="open-chat-btn" onclick="openChat()" style="background-image: url('{{ url_for('static', filename='chatbot.jpg') }}');">Open Chat</button> -->
<img src="{{ url_for('static', filename='chatbot.jpg') }}" id="open-chat-btn" onclick="openChat()" width="70px"
     height="70px"/>
<div id="chat-container" class="chat-container">
    <div class="chat-box" id="chat-box"></div>
    <input type="text" class="chat-input" id="user-input" placeholder="Type your message...">
    <button class="send-btn" onclick="sendMessage()">Send</button>
    <button class="close-btn" onclick="closeChat()">Close</button>
</div>

<script>
    function openChat() {
        document.getElementById("chat-container").style.display = "block";
    }

    function closeChat() {
        document.getElementById("chat-container").style.display = "none";
    }

    function sendMessage() {
        var userInput = document.getElementById("user-input").value;
        document.getElementById("user-input").value = '';
        if (userInput.trim() === "") return;

        var chatBox = document.getElementById("chat-box");
        var userMessage = document.createElement("div");
        userMessage.className = "message user";
        userMessage.innerText = userInput;
        chatBox.appendChild(userMessage);


        var loadingMessage = document.createElement("div");
        loadingMessage.className = "message bot";
        loadingMessage.innerText = "...";
        chatBox.appendChild(loadingMessage);


        setTimeout(function() {
            var botResponse = document.createElement("div");
            botResponse.className = "message bot";
            botResponse.innerText = getBotResponse(userInput);
            chatBox.removeChild(loadingMessage);
            chatBox.appendChild(botResponse);
            chatBox.scrollTop = chatBox.scrollHeight;
        }, 1000);
    }

    function getBotResponse(userInput) {
        if (userInput.toLowerCase().includes("hello")) {
            return "Hi there! How can I assist you?";
        } else if (userInput.toLowerCase().includes("how are you")) {
            return "I'm just a chatbot, but thanks for asking!";
        } else if (userInput.toLowerCase().includes("how do i pay")) {
            return "Please go to booknow page and enter your details to pay!";
        } else {
            return "I'm sorry, I didn't understand that.";
        }
    }


</script>

{% block footer %}
{% include 'includes/_footer.html' %}
{% endblock %}


</body>

</html>