<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - EcoVoyage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <div class="nav-bar">
            <div class="logo">
                <h1>EcoVoyage</h1>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#destination">Destination</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                    <li><a href="/Login_page">Login</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <section class="bdy-sec-1">
            <div class="welcome-gp">
                <h1>Embark on a journey of a lifetime, where every destination becomes a story, and every moment is an adventure waiting to be told.</h1>
                <div class="btn">
                    <button>Explore</button>
                </div>
            </div>
        </section>
    </main>

    <section class="reviews" id="reviews">
        <h2>Reviews</h2>
        <p>Here is what our new friends have to say.</p>
        <ul class="cards">
          <li class="card">
            <img src="{{ url_for('static', filename='review1.jpg') }}" alt="img">
            <h3>Tricia</h3>
            <p>"The most fun i've had in my whole life!"</p>
          </li>
          <li class="card">
            <img src="{{ url_for('static', filename='review2.jpg') }}" alt="img">
            <h3>Michael</h3>
            <p>"I went cause my friend told me to. Ended up being the best time of my life!"</p>
          </li>
          <li class="card">
            <img src="{{ url_for('static', filename='review3.jpg') }}" alt="img">
            <h3>Jessica</h3>
            <p>"Love the trips they plan, so full of activities and sightseeing"</p>
          </li>
          <li class="card">
            <img src="{{ url_for('static', filename='review4.jpg') }}" alt="img">
            <h3>Steven</h3>
            <p>"I met my new found travelling buddy through TravelBros!"</p>
          </li>
          <li class="card">
            <img src="{{ url_for('static', filename='review5.jpg') }}" alt="img">
            <h3>John</h3>
            <p>"100% Reccomend!"</p>
          </li>
          <li class="card">
            <img src="{{ url_for('static', filename='review6.jpg') }}" alt="img">
            <h3>Zane</h3>
            <p>"Can't wait for the next trip to Switzerland!"</p>
          </li>
        </ul>
      </section>
  
      <section class="about" id="about">
        <h2>About Us</h2>
        <p>Learn about how we got here.</p>
        <div class="row company-info">
          <h3>Our Story</h3>
          <p>We started with 4 individuals who had a passion for travelling the world and doing the most spontaneous activities. Now, we want to share this experiece with others and give them a chance to meet new people and see the beauty of earth.</p>
        </div>
        <div class="row mission-vision">
          <h3>Our Mission</h3>
          <p>At TravelBros, our mission is to equip travelling enthusiasts with opportunities to meet new people and travel the world having the best time of thier lives. We strive to provide reliable, informative and fun trips that contribute to memorable adventures and lasting memories.</p>
          <h3>Our Vision</h3>
          <p>Our vision is to become the first option for travelling enthusiasts, known for our great selection of countries, trips and exceptional customer service. We aspire to inspire and enable people to embrace the beauty of nature and create unforgettable travel experiences with new people.</p>
        </div>
        <div class="row team">
          <h3>Our Team</h3>
          <ul>
            <li>Phone Myat - Founder and CEO</li>
            <li>Ryan Ng - Events Planner</li>
            <li>Xavier Ong  - Customer Representative</li>
            <li>Tay Xuan Hong - Operations Manager</li>
          </ul>
        </div>
      </section>
      <div></div>
  
      <section class="contact" id="contact">
        <h2>Contact Us</h2>
        <p>Please contact us for any enquiries or feedback.</p>
        <div class="row">
          <div class="col information">
            <div class="contact-details">
              <p><i class="fas fa-map-marker-alt"></i> 180 Ang Mo Kio Ave 8</p>
              <p><i class="fas fa-envelope"></i> enquiries@mymail.nyp.edu.sg</p>
              <p><i class="fas fa-phone"></i> +65 6984 2435</p>
              <p><i class="fas fa-clock"></i> Monday - Friday: 9:00 AM - 9:00 PM</p>
              <p><i class="fas fa-clock"></i> Saturday: 10:00 AM - 3:00 PM</p>
              <p><i class="fas fa-clock"></i> Sunday: Closed</p>
              <p><i class="fas fa-globe"></i> www.travelbros.com</p>
            </div>          
          </div>
          <div class="col form">
            <form id="myForm" action="response.html" method="get" onsubmit="submitForm()">
              <label for="name"><input type="text" id="name" placeholder="Name*" required></label>
              <label for="email"><input type="email" id="email" placeholder="Email*" required></label>
              <label for="message"><textarea placeholder="Message*" id="message" required></textarea></label>
              <button id="submit" type="submit">Send Message</button>
            </form>
          </div>
        </div>
      </section>

    <footer>
        <div class="footer-left">
            <div class="footer-section fs-1">
                <div class="footer-logo">
                    <img src="{{ url_for('static', filename='Blue and White Elegant Travel Logo.png') }}" alt="Travel Logo">
                </div>
                <div class="footer-location">
                    <ul>
                        <li>300 Washington St., Ste. 713, Newton, MA 02458</li>
                        <li>1-800-776-0188 | Mon.–Fri., 9:00 a.m.–5:00 p.m. EST.</li>
                        <li>info@earthwatch.org</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-right">
            <div class="footer-section fs-2">
                <ul>
                    <li>ABOUT</li>
                    <hr>
                    <li><a href="#">Mission & Values</a></li>
                    <li><a href="#">Our History</a></li>
                    <li><a href="#">Leadership</a></li>
                    <li><a href="#">Annual Report</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </div>
            <div class="footer-section fs-3">
                <ul>
                    <li>EXPLORE</li>
                    <hr>
                    <li><a href="#">Expeditions</a></li>
                    <li><a href="#">Research</a></li>
                    <li><a href="#">Education</a></li>
                    <li><a href="#">Partnerships</a></li>
                    <li><a href="#">Stories</a></li>
                    <li><a href="#">Support Us</a></li>
                </ul>
            </div>
            <div class="footer-section fs-4">
                <ul>
                    <li>CONNECT</li>
                    <hr>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">YouTube</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">LinkedIn</a></li>
                    <li><a href="#">Newsletter</a></li>
                </ul>
            </div>
            <div class="footer-section fs-5">
                <ul>
                    <li>POLICIES</li>
                    <hr>
                    <li><a href="#">Safety Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Insurance Policy</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright">
            <h5>© 2023 EcoVoyage Company. All rights reserved.</h5>
        </div>
    </footer>
</body>

</html>