<section class="reviews" id="reviews">
    <h2>Reviews</h2>
    <p>Here is what our new friends have to say.</p>
    <ul class="cards">
      <li class="card">
        <img src="images/review1.jpg" alt="img">
        <h3>Tricia</h3>
        <p>"The most fun i've had in my whole life!"</p>
      </li>
      <li class="card">
        <img src="images/review2.jpg" alt="img">
        <h3>Michael</h3>
        <p>"I went cause my friend told me to. Ended up being the best time of my life!"</p>
      </li>
      <li class="card">
        <img src="images/review3.jpg" alt="img">
        <h3>Jessica</h3>
        <p>"Love the trips they plan, so full of activities and sightseeing"</p>
      </li>
      <li class="card">
        <img src="images/review4.jpg" alt="img">
        <h3>Steven</h3>
        <p>"I met my new found travelling buddy through TravelBros!"</p>
      </li>
      <li class="card">
        <img src="images/review5.jpg" alt="img">
        <h3>John</h3>
        <p>"100% Reccomend!"</p>
      </li>
      <li class="card">
        <img src="images/review6.jpg" alt="img">
        <h3>Zane</h3>
        <p>"Can't wait for the next trip to Switzerland!"</p>
      </li>
    </ul>
  </section>

  <section class="about" id="about">
    <h2>About Us</h2>
    <p>Learn about how we got here.</p>
    <div class="row company-info">
      <h3>Our Story</h3>
      <p>We started with 4 individuals who had a passion for travelling the world and doing the most spontaneous activities. Now, we want to share this experiece with others and give them a chance to meet new people and see the beauty of earth.</p>
    </div>
    <div class="row mission-vision">
      <h3>Our Mission</h3>
      <p>At TravelBros, our mission is to equip travelling enthusiasts with opportunities to meet new people and travel the world having the best time of thier lives. We strive to provide reliable, informative and fun trips that contribute to memorable adventures and lasting memories.</p>
      <h3>Our Vision</h3>
      <p>Our vision is to become the first option for travelling enthusiasts, known for our great selection of countries, trips and exceptional customer service. We aspire to inspire and enable people to embrace the beauty of nature and create unforgettable travel experiences with new people.</p>
    </div>
    <div class="row team">
      <h3>Our Team</h3>
      <ul>
        <li>Ryan Ng - Founder and CEO</li>
        <li>Tay Xuan Rui - Events Planner</li>
        <li>Chang Kai Cong - Customer Representative</li>
        <li>Terron Loh - Operations Manager</li>
      </ul>
    </div>
  </section>

  <section class="contact" id="contact">
    <h2>Contact Us</h2>
    <p>Please contact us for any enquiries or feedback.</p>
    <div class="row">
      <div class="col information">
        <div class="contact-details">
          <p><i class="fas fa-map-marker-alt"></i> 180 Ang Mo Kio Ave 8</p>
          <p><i class="fas fa-envelope"></i> enquiries@mymail.nyp.edu.sg</p>
          <p><i class="fas fa-phone"></i> +65 6984 2435</p>
          <p><i class="fas fa-clock"></i> Monday - Friday: 9:00 AM - 9:00 PM</p>
          <p><i class="fas fa-clock"></i> Saturday: 10:00 AM - 3:00 PM</p>
          <p><i class="fas fa-clock"></i> Sunday: Closed</p>
          <p><i class="fas fa-globe"></i> www.travelbros.com</p>
        </div>          
      </div>
      <div class="col form">
        <form id="myForm" action="response.html" method="get" onsubmit="submitForm()">
          <label for="name"><input type="text" id="name" placeholder="Name*" required></label>
          <label for="email"><input type="email" id="email" placeholder="Email*" required></label>
          <label for="message"><textarea placeholder="Message*" id="message" required></textarea></label>
          <button id="submit" type="submit">Send Message</button>
        </form>
      </div>
    </div>
  </section>